<div class="sortListPic" id="sortable">
<dl>
        <dt><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=1')" href="http://www.readnovel.com/partlist/104352/" target="_blank"><img src="http://img.readnovel.com/incoming/book/0/4352/104352_iv.jpg"></a></dt>
        <dd class="list_title">《<a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=0')" href="http://www.readnovel.com/partlist/104352/" title="异界之玄幻修真" target="_blank"><strong>异界之<font style='color:red'>玄幻</font>修真</strong></a>》
                  </dd>
        <dd>作　　者：<em><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=2')" href="http://u.readnovel.com/user/16596633.html" title="随芯1991" target="_blank">随芯1991</a></em>类型：<em>异世大陆</em>状态：<em>已完结</em></dd>
        <dd  style="height:60px;">简　　介：<em class="fl">“呀！创世神你小子骗那些主神是何居心？”
“哎！你们这些主神都干什么呢？信仰之力可是毒药！”
“嘿！那个谁你敢偷我东西，欠揍是吧？”
“咦！后面的美女不要看我，我会害羞的。”
一个流氓贵族如何诠释：斗气、...</em></dd>
        <dd class="bottomDD">更　　新：<em>2012-05-09 11:06:58</em><span>
          总金牌：<em>26</em>
          总收藏：<em>1701</em>
          总点击：<em>4822422</em>        </span></dd>
      </dl>
          <dl>
        <dt><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=4')" href="http://www.readnovel.com/partlist/48618/" target="_blank"><img src="http://img.readnovel.com/web/sortrand/random11.gif"></a></dt>
        <dd class="list_title">《<a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=3')" href="http://www.readnovel.com/partlist/48618/" title="洪荒玄幻录" target="_blank"><strong>洪荒<font style='color:red'>玄幻</font>录</strong></a>》
                  </dd>
        <dd>作　　者：<em><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=5')" href="http://u.readnovel.com/user/10495337.html" title="图腾兽" target="_blank">图腾兽</a></em>类型：<em>东方奇幻</em>状态：<em>连载中</em></dd>
        <dd  style="height:60px;">简　　介：<em class="fl">万里封喉倚长剑，啸天龙吟泣鬼神。 
狂澜欲把吴钩断，一曲长歌笑今生。 
远古的洪荒，神秘的仙界，恐怖的魔域，强大的魔兽。 
东方大陆和西方圣地势均力敌，大战一触即发。 
且看一个平凡而又不简单的少年如...</em></dd>
        <dd class="bottomDD">更　　新：<em>2010-04-08 13:55:31</em><span>
          总金牌：<em>0</em>
          总收藏：<em>168</em>
          总点击：<em>109929</em>       </span></dd>
      </dl>
          <dl>
        <dt><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=7')" href="http://www.readnovel.com/partlist/97542/" target="_blank"><img src="http://img.readnovel.com/incoming/book/0/7542/97542_hi.jpg"></a></dt>
        <dd class="list_title">《<a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=6')" href="http://www.readnovel.com/partlist/97542/" title="网流玄幻大陆" target="_blank"><strong>网流<font style='color:red'>玄幻</font>大陆</strong></a>》
                  </dd>
        <dd>作　　者：<em><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=8')" href="http://u.readnovel.com/user/15671496.html" title="绝世天魔" target="_blank">绝世天魔</a></em>类型：<em>虚拟网游</em>状态：<em>连载中</em></dd>
        <dd  style="height:60px;">简　　介：<em class="fl">来吧！进入流行玄幻大陆吧！
今天工作终于结束了，他妈今天又被老板骂真是的，我拖着一身尘土独自回到了自己的小窝、打开门、扔包、脱下外套，一关扎到床上，沉寂了一会，伸出双手摸索的电视控制器，恩，找到了...</em></dd>
        <dd class="bottomDD">更　　新：<em>2010-09-16 19:03:11</em><span>
          总金牌：<em>0</em>
          总收藏：<em>90</em>
          总点击：<em>55202</em>        </span></dd>
      </dl>
          <dl>
        <dt><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=10')" href="http://www.readnovel.com/partlist/12848/" target="_blank"><img src="http://img.readnovel.com/web/sortrand/random6.gif"></a></dt>
        <dd class="list_title">《<a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=9')" href="http://www.readnovel.com/partlist/12848/" title="当玄幻撞上现实" target="_blank"><strong>当<font style='color:red'>玄幻</font>撞上现实</strong></a>》
                  </dd>
        <dd>作　　者：<em><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=11')" href="http://u.readnovel.com/user/4622375.html" title="看别人谈恋爱" target="_blank">看别人谈恋爱</a></em>类型：<em>异术超能</em>状态：<em>连载中</em></dd>
        <dd  style="height:60px;">简　　介：<em class="fl">一个狂傲的少年,一段断玉柔情的故事,着个世界,没有对错,没有法律! 
  在这里,我!就是法!就是正!就是神!</em></dd>
        <dd class="bottomDD">更　　新：<em>2010-03-15 15:08:54</em><span>
          总金牌：<em>0</em>
          总收藏：<em>137</em>
          总点击：<em>46989</em>        </span></dd>
      </dl>
          <dl>
        <dt><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=13')" href="http://www.readnovel.com/partlist/26075/" target="_blank"><img src="http://img.readnovel.com/web/sortrand/random16.gif"></a></dt>
        <dd class="list_title">《<a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=12')" href="http://www.readnovel.com/partlist/26075/" title="重生在玄幻的都市" target="_blank"><strong>重生在<font style='color:red'>玄幻</font>的都市</strong></a>》
                  </dd>
        <dd>作　　者：<em><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=14')" href="http://u.readnovel.com/user/7961594.html" title="河内方悦" target="_blank">河内方悦</a></em>类型：<em>异术超能</em>状态：<em>连载中</em></dd>
        <dd  style="height:60px;">简　　介：<em class="fl">很庸俗的重生情节，只因为想要一个有修行和异能者存在的环境，我们的主角被不负责任的作者丢入了一个貌似熟悉的异空间，关于未来会怎样，作者已经无法控制了，让同样缺根筋的主角自己打拼去吧！</em></dd>
        <dd class="bottomDD">更　　新：<em>2010-10-12 14:55:58</em><span>
          总金牌：<em>0</em>
          总收藏：<em>92</em>
          总点击：<em>40390</em>        </span></dd>
      </dl>
          <dl>
        <dt><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=16')" href="http://www.readnovel.com/partlist/61132/" target="_blank"><img src="http://img.readnovel.com/incoming/book/0/1132/61132_fj.jpg"></a></dt>
        <dd class="list_title">《<a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=15')" href="http://www.readnovel.com/partlist/61132/" title="玄幻校园小说" target="_blank"><strong><font style='color:red'>玄幻</font>校园小说</strong></a>》
                  </dd>
        <dd>作　　者：<em><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=17')" href="http://u.readnovel.com/user/11709377.html" title="韩伤" target="_blank">韩伤</a></em>类型：<em>魔幻学院</em>状态：<em>已完结</em></dd>
        <dd  style="height:60px;">简　　介：<em class="fl">不会很啰嗦的小说，故事是半玄幻半武侠半校园，有点类似于玄幻偶像剧，人物比较多，看下去说不定有惊喜哦。此作是同人，故事纯属虚构，如有雷同，纯属巧合。</em></dd>
        <dd class="bottomDD">更　　新：<em>2010-04-08 05:30:36</em><span>
          总金牌：<em>0</em>
          总收藏：<em>150</em>
          总点击：<em>40124</em>        </span></dd>
      </dl>
          <dl>
        <dt><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=19')" href="http://www.readnovel.com/partlist/12778/" target="_blank"><img src="http://img.readnovel.com/web/sortrand/random13.gif"></a></dt>
        <dd class="list_title">《<a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=18')" href="http://www.readnovel.com/partlist/12778/" title="生命之轻" target="_blank"><strong>生命之轻</strong></a>》
                  </dd>
        <dd>作　　者：<em><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=20')" href="http://u.readnovel.com/user/4675418.html" title="玄<font style='color:red'>玄幻</font>幻" target="_blank">玄<font style='color:red'>玄幻</font>幻</a></em>类型：<em>异术超能</em>状态：<em>连载中</em></dd>
        <dd  style="height:60px;">简　　介：<em class="fl">生命在这里绽放
幻境在这里旋曳

你会情不自禁的惊叹神迹的博大
你会怅然若失的感慨世事的无奈
你不用诧异时光流徙的痕迹
你不用缅怀奇情萦绕的心梦

生命之轻会轻柔的述说
生命的传奇</em></dd>
        <dd class="bottomDD">更　　新：<em>2010-06-18 22:27:31</em><span>
          总金牌：<em>0</em>
          总收藏：<em>42</em>
          总点击：<em>34072</em>        </span></dd>
      </dl>
          <dl>
        <dt><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=22')" href="http://www.readnovel.com/partlist/14113/" target="_blank"><img src="http://img.readnovel.com/web/sortrand/random1.gif"></a></dt>
        <dd class="list_title">《<a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=21')" href="http://www.readnovel.com/partlist/14113/" title="幻御三——玄境" target="_blank"><strong>幻御三——玄境</strong></a>》
                  </dd>
        <dd>作　　者：<em><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=23')" href="http://u.readnovel.com/user/5189654.html" title="尔石衣" target="_blank">尔石衣</a></em>类型：<em>东方奇幻</em>状态：<em>已完结</em></dd>
        <dd  style="height:60px;">简　　介：<em class="fl">无玄无路
无心无境
境由心生
玄自出世

玄境十二宫的恩恩怨怨在一片感情纠葛中自世人口中被流传</em></dd>
        <dd class="bottomDD">更　　新：<em>2010-03-29 18:20:33</em><span>
          总金牌：<em>0</em>
          总收藏：<em>107</em>
          总点击：<em>27352</em>        </span></dd>
      </dl>
          <dl>
        <dt><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=25')" href="http://www.readnovel.com/partlist/202323/" target="_blank"><img src="http://img.readnovel.com/incoming/book/0/2323/202323_uw.jpg"></a></dt>
        <dd class="list_title">《<a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=24')" href="http://www.readnovel.com/partlist/202323/" title="第一玄幻师" target="_blank"><strong>第一<font style='color:red'>玄幻</font>师</strong></a>》
                  </dd>
        <dd>作　　者：<em><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=26')" href="http://u.readnovel.com/user/23243388.html" title="韩小可" target="_blank">韩小可</a></em>类型：<em>魔幻学院</em>状态：<em>连载中</em></dd>
        <dd  style="height:60px;">简　　介：<em class="fl">“那么爱我就去做变性手术吧！”她一脸无辜的看着面前的妖孽。谁知妖孽直接扑了过来，“那怎么可好，以后你就不能‘性’福了！”她是穿越来的冷血杀手，在时间的推移下，她居然爱上了一个长毛妖怪！在妖怪的带领下，她...</em></dd>
        <dd class="bottomDD">更　　新：<em>2013-03-19 19:32:04</em><span>
          总金牌：<em>0</em>
          总收藏：<em>163</em>
          总点击：<em>18008</em>        </span></dd>
      </dl>
          <dl>
        <dt><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=28')" href="http://www.readnovel.com/partlist/158590/" target="_blank"><img src="http://img.readnovel.com/incoming/book/0/8590/158590_ao.jpg"></a></dt>
        <dd class="list_title">《<a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=27')" href="http://www.readnovel.com/partlist/158590/" title="玄幻白魔" target="_blank"><strong><font style='color:red'>玄幻</font>白魔</strong></a>》
                  </dd>
        <dd>作　　者：<em><a onmousedown="sdoLogger.authId='d5ca7efd416c51af';sdoLogger.clickLog('pvid=GDBTSk9xGXEwwut6Yt4v3w&secid=rs&posid=29')" href="http://u.readnovel.com/user/25453261.html" title="扁扁扁扁" target="_blank">扁扁扁扁</a></em>类型：<em>女尊天下</em>状态：<em>连载中</em></dd>
        <dd  style="height:60px;">简　　介：<em class="fl">千年的孕育，她终于重生，她无情，也亦有情；她忘了他，今生缘，是无缘还是有缘；也是新的开始；他爱她，是温柔细腻，他宠她，是亦不悔；他爱她，抛弃一切，他，永恒誓言陪伴她……</em></dd>
        <dd class="bottomDD">更　　新：<em>2012-05-17 04:02:01</em><span>
          总金牌：<em>0</em>
          总收藏：<em>25</em>
          总点击：<em>10782</em>        </span></dd>
      </dl>
</div>